@use "variables";

.section {
    &_container {
        width: 100%;
        display: grid;
        // flex: row;
        grid-template-columns: repeat(3, 1fr);
    }

    &_article {
        & img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}
