@use "variables";

.footer {
    padding: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: space-evenly;
    background-color: variables.$lightgrey;

    &_section {
        width: 100%;

        & img {
            width: 50%;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & i {
        font-size: 1.5rem;
    }

    & .socials {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }
}
