// Footer stylesheet

@use "variables"; // use SASS variables (not CSS compatible)

.footer {
    padding: 4rem 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-between;
    background-color: variables.$lightgrey;
    margin-top: 64px;

    // display 1 item per row for mobile UI
    &_section {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 0.5rem;
    }

    // bring text sections down to same level with images or invisible spacers
    &_image,
    &_spacer {
        width: 50%;
        aspect-ratio: 1/1;
    }

    // deactivate spacers for mobile UI
    &_spacer {
        display: none;
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &_socials {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        gap: 1rem;

        & i {
            font-size: 1.5rem;
        }
    }
}

// adapt footer flexbox items to screen width
@media screen and (min-width: 480px) {
    .footer {
        // display 2 items per row
        &_section {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }
}

@media screen and (min-width: 960px) {
    .footer {
        // display 4 items per row
        &_section {
            -ms-flex: 25%;
            flex: 25%;
            max-width: 25%;
        }

        // activate spacers
        &_spacer {
            display: block;
        }
    }
}
