@use 'variables';

.navbar {
    position: fixed;
    inset: 0 0 auto 0;
    height: 64px;
    padding: 0 18.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$white;

    &_logo {
        height: 80%;

        &-img {
            height: 100%;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;
    }

    & a {
        font-size: 0.75rem;
        color: variables.$black;
    }
}