@use "variables";

.navbar {
    position: fixed;
    z-index: 99;
    inset: 0 0 auto 0;
    height: 64px;
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$white;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 -5px 20px 0px variables.$black;

    &_logo {
        height: 80%;

        &-img {
            height: 100%;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;
    }

    & a {
        font-size: 1rem;
        color: variables.$black;
    }
}
