// Navbar stylesheet

@use "variables"; // use SASS variables (not CSS compatible)

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: variables.$white;
    z-index: 99;

    & #navbar_show {
        display: none;

        &:checked {
            ~ .navbar_links {
                visibility: visible;
                height: calc(100dvh - variables.$nav-height);
            }

            ~ .navbar_header .navbar_button span {
                &:nth-child(1) {
                    transform: translateY(13px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-12.5px) rotate(-45deg);
                }
            }
        }
    }

    &_header {
        width: 100%;
        height: variables.$nav-height;
        padding: 0 1rem;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        & img {
            height: 50px;
            aspect-ratio: 1/1;
        }

        & div {
            height: 50px;
            aspect-ratio: 1/1;
            padding: 0.5rem;
            display: flex;
            flex-flow: column nowrap;
            gap: 0.5rem;

            & span {
                display: block;
                width: 100%;
                height: 33%;
                background-color: black;
                border-radius: 1rem;
                transition: all 0.25s ease-in-out;

                transform-origin: center center;
            }
        }
    }

    &_links {
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        list-style-type: none;

        overflow: hidden;
        transition: all 0.25s ease-in-out;

        & li {
            width: 100%;
            height: 100%;

            & a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 1rem;
                font-size: 0.7rem;
                white-space: nowrap;

                &:hover,
                &:active {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .navbar {
        // position: relative;
        height: variables.$nav-height;
        padding: 0 4rem;
        flex-flow: row nowrap;

        & #navbar_show {
            display: none;

            &,
            &:checked {
                ~ .navbar_links {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    visibility: visible;

                    li {
                        height: 100%;
                        width: auto;
                    }

                    a {
                        &:hover,
                        &:active {
                            color: variables.$black;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        &_header {
            position: absolute;
            top: 0;
            left: 4rem;
            width: fit-content;
        }

        &_header &_button {
            display: none;
        }
    }
}
