// Color variables

$primary: #088083;

$white: hsl(0, 0%, 98%);
$lightgrey: hsl(0, 0%, 85%);
$grey: hsl(0, 0%, 65%);
$darkgrey: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 2%);

$secondary: #1D2A55;
$secondary-light: #6f4f88;
$secondary-dark: #514279;