// Email page stylesheet

// compile command: sass public/scss/email.scss:public/css/email.css --watch --style=compressed

@use "variables"; // use SASS variables (not CSS compatible)

// header styling
.header {
    height: 100dvh;
    min-height: 100vh;

    padding: 0 8rem;
    padding-top: variables.$nav-height;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;

    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("/img/email_header.png"), rgb(0, 0, 0);

    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;

    & * {
        margin: 0;
        color: variables.$white;
    }
}

// email form styling (separated for convenience)
#header_email {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    & * {
        border: none;
    }

    & h1 {
        text-align: center;
    }

    & .form_component {
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & p {
            font-size: 1rem;
        }

        & input[type="email"] {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 0.5rem;
            color: black;
        }

        & .form_type {
            display: flex;
            flex-flow: row nowrap;

            & input[type="radio"] {
                display: none;
            }

            & input[type="radio"]:checked + label {
                color: variables.$black;
                background-color: variables.$white;
            }

            & label {
                width: 100%;
                padding: 0.5rem 1rem;
                text-align: center;
                border: 2px solid variables.$white;

                &:hover {
                    cursor: pointer;
                }

                &:first-of-type {
                    border-right: none;
                    border-radius: 0.5rem 0 0 0.5rem;
                }

                &:last-of-type {
                    border-left: none;
                    border-radius: 0 0.5rem 0.5rem 0;
                }
            }
        }
    }

    & button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: variables.$white;
        background-color: variables.$darkgrey;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.form_emailing {
    display: flex;
    gap: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

// adapt content to screen width
@media (max-width: 768px) {
    .header {
        align-items: center; // center form within header
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("/img/email_header.png"), rgb(0, 0, 0);

        &_email {
            display: flex;
            flex-flow: column;
        }
    }
}
