@use "variables";
// sass public/scss/email.scss:public/css/email.css --watch --style=compressed

.header {
    padding: 0 8rem;
    align-items: flex-end;
    justify-content: center;

    &_email {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        & * {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            border-radius: 0.5rem;
        }

        & button {
            background-color: variables.$darkgrey;
            color: variables.$white;
            font-weight: 600;
        
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        &_email {
            display: flex;
            flex-flow: column
        }
    }
}
