// Index/Homepage stylesheet

// compile command: sass public/scss/index.scss:public/css/index.css --watch --style=compressed

@use "variables"; // use SASS variables (not CSS compatible)

.header {
    height: 100dvh;
    min-height: 100vh;
    padding: 8rem 8rem 6rem 8rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%), url("/img/index_header.webp") no-repeat center center / cover;

    & * {
        margin: 0;
        color: variables.$white;
    }

    &_title {
        font-size: 3.5rem;
    }

    &_subtitle {
        font-size: 1.5rem;
    }

    &_search {
        margin-top: auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        & input {
            width: 20rem;
            padding: 0.5rem 0;

            font-size: 1rem;
            color: variables.$white;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid variables.$white;

            &::placeholder {
                color: variables.$grey;
            }
        }

        & button {
            height: 100%;
            aspect-ratio: 1/1;
            background-color: variables.$white;
            border: none;
            border-radius: 0.5rem;

            & * {
                font-size: 1rem;
                color: variables.$black;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        gap: 20px;
        padding: 10px;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        &_title {
            font-size: 2rem;
        }
    }
}

.section {
    &_title {
        text-align: center;
    }

    &_container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    &_article {
        display: flex;
        flex-flow: column nowrap;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;

        @media (min-width: 480px) {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }

        @media (min-width: 960px) {
            -ms-flex: 25%;
            flex: 25%;
            max-width: 25%;
        }

        & .article {
            gap: 10px;
            padding: 10px;

            &_img {
                & img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }

            &_text {
                padding: 1.5rem;
            }

            &_description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-clamp: 5;
                -webkit-line-clamp: 5;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    & h4 {
        margin: 0;
    }
}
