<footer class="footer">
    <section class="footer_section">
        <img src="img/IFT.png" alt="" />
        <h4>Contact us</h4>
        <address>
            <a href="mailto: dvic@devinci.fr">dvic@devinci.fr</a><br />
            <a href="tel: +330141167000">+33 01 41 16 70 00</a><br />
            <p>12 Avenue Léonard de Vinci<br />92400, Courbevoie, France</p>
        </address>
    </section>
    <section class="footer_section">
        <img src="img/Devinci.webp" alt="" />
        <h4>Follow us</h4>
        <ul class="socials">
            <li>
                <a href="https://twitter.com/DVIC_fr" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/DVICDeVinci" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/dvic_fr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/dvic" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/@devinciinnovationcenterdvi3916" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>
    <section class="footer_section">
        <h4>About us</h4>
        <ul>
            <li><a href="#">Our values</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Conferences</a></li>
        </ul>
    </section>
    <section class="footer_section">
        <h4>Programs</h4>
        <ul>
            <li><a href="#">Undergraduates</a></li>
            <li><a href="#">Graduates</a></li>
            <li><a href="#">Postgraduates</a></li>
            <li><a href="#">Associations</a></li>
        </ul>
    </section>
</footer>
