<footer class="footer">
    <section class="footer_section">
        <img class="footer_image" src="/img/IFT.png" alt="IFT_Logo" />
        <h4 class="footer_title">Contact us</h4>
        <address class="footer_address">
            <a href="mailto: dvic@devinci.fr">dvic@devinci.fr</a><br />
            <a href="tel: +330141167000">+33 01 41 16 70 00</a><br />
            <p>12 Avenue Léonard de Vinci<br />92400, Courbevoie, France</p>
        </address>
    </section>
    <section class="footer_section">
        <img class="footer_image" src="/img/Devinci.png" alt="DeVinci_Logo" />
        <h4 class="footer_title">Follow us</h4>
        <ul class="footer_socials">
            <li>
                <a href="https://twitter.com/DVIC_fr" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/DVICDeVinci" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/dvic_fr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/dvic" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/@devinciinnovationcenterdvi3916" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>
    <section class="footer_section">
        <div class="footer_spacer"></div>
        <h4 class="footer_title">About us</h4>
        <ul class="footer_list">
            <li><a href="#">Our values</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Conferences</a></li>
        </ul>
    </section>
    <section class="footer_section">
        <div class="footer_spacer"></div>
        <h4 class="footer_title">Programs</h4>
        <ul class="footer_list">
            <li><a href="#">Undergraduates</a></li>
            <li><a href="#">Graduates</a></li>
            <li><a href="#">Postgraduates</a></li>
            <li><a href="#">Associations</a></li>
        </ul>
    </section>
</footer>
