<div id="overlay" class="overlay"></div>
<nav class="navbar">

    <a href="#" class="navbar_logo"><img src="/img/logo.png" alt="logo" class="navbar_logo-img" /></a>

    <ul class="navbar_links">
        <li><a href="" class="navbar_link">About</a></li>
        <li><a href="" class="navbar_link">Programs</a></li>
        <li><a href="" class="navbar_link">Research</a></li>
        <li><a href="" class="navbar_link">Startup & Business</a></li>
        <li><a href="" class="navbar_link">FabLab</a></li>
        <li><a href="" class="navbar_link">Contact</a></li>
        <li><a href="" class="navbar_link">Museum</a></li>
    </ul>
</nav>

<div class="menu_bouton">
    <img class="menu_bars" onclick="openNav()" src="/img/bars-solid.svg" alt="">
    <a href="#"><img class="menu_logo" src="/img/logo.png" alt="logo" class="navbar_logo-img" /></a>
</div>

<nav class="menu_burger">
    <img class="menu_bars" onclick="closeNav()" src="/img/x-solid.svg" alt="">
    <ul class="menu_links">
        <li><a href="" class="navbar_link">About</a></li>
        <li><a href="" class="navbar_link">Programs</a></li>
        <li><a href="" class="navbar_link">Research</a></li>
        <li><a href="" class="navbar_link">Startup & Business</a></li>
        <li><a href="" class="navbar_link">FabLab</a></li>
        <li><a href="" class="navbar_link">Contact</a></li>
        <li><a href="" class="navbar_link">Museum</a></li>
    </ul>
</nav>

<script src="/js/Sidenav/sidenav.js"></script>
