<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>

        <header class="header">
            <h1 class="header_title">Innovations</h1>
            <h2 class="header_subtitle">Academic Programs, Innovation and Research</h2>

            <form action="#" class="header_search">
                <input type="text" name="search_value" id="search_value" placeholder="Search a project" />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </header>

        <main>
            <section class="section">
                <h3 class="section_title">Innovative Projects</h3>
                <div class="section_container"></div>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>

        <script src="/js/projectFetcher.js"></script>
    </body>
</html>
