<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page de Connexion</title>
        <link rel="stylesheet" href="../../css/loginAdmin.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="login-container">
            <div class="login-card">
                <div class="logo">
                    <img src="../../img/Logo_1.png" alt="Logo" />
                </div>
                <h1>Bienvenue</h1>
                <p>Vous êtes dans la page de connexion de l’admin</p>
                <form id="loginForm">
                    <div class="input-group">
                        <input
                            type="email"
                            id="email"
                            placeholder="Adresse email"
                            required
                        />
                    </div>
                    <div class="input-group">
                        <input
                            type="password"
                            id="password"
                            placeholder="Password"
                            required
                        />
                    </div>
                    <button type="submit">Se connecter</button>
                </form>
            </div>
        </div>
        <script src="../../js/adminScript/Login/Login.js"></script>
    </body>
</html>
