<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/etiquettePage.css" />
        <title>Etiquette</title>
    </head>
    <body>
        <main>
            <section class="top-banner">
                <nav class="navbar">
                    <a href="#" class="navbar_logo"
                        ><img
                            src="../../img/logo.png"
                            alt="logo"
                            class="navbar_logo-img"
                    /></a>

                    <ul class="navbar_links">
                        <li><a href="" class="navbar_link">About</a></li>
                        <li><a href="" class="navbar_link">Programs</a></li>
                        <li><a href="" class="navbar_link">Research</a></li>
                        <li>
                            <a href="" class="navbar_link"
                                >Startup & Business</a
                            >
                        </li>
                        <li><a href="" class="navbar_link">FabLab</a></li>
                        <li><a href="" class="navbar_link">Contact</a></li>
                        <li><a href="" class="navbar_link">Museum</a></li>
                    </ul>

                    <ul class="navbar_account">
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li></li>
                    </ul>
                </nav>
                <div class="banner-container">
                    <div class="title">
                        <img
                            src="../../img/logo-etiquette.png"
                            alt="logo-etiquette"
                        />
                        <h1>Autonomous Aquaponic Platform</h1>
                    </div>
                    <div class="middle">
                        <p class="description">
                            Development of an automated, modular, adjustable and
                            educational aquaponic platform
                        </p>
                        <div class="tag">
                            <ul>
                                <li>Tag1</li>
                                <li>Tag2</li>
                                <li>Tag3</li>
                            </ul>
                        </div>
                    </div>
                    <div class="creator">
                        <ul>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name1Name1 Name1Name1Name1</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name2</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name3</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name1Name1 Name1Name1Name1</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name1Name1 Name1Name1Name1</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name1Name1 Name1Name1Name1</h1>
                            </li>
                            <li>
                                <img src="../../img/pp_creator.jpeg" alt="" />
                                <h1>Name1Name1 Name1Name1Name1</h1>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="main-container">
                <div class="first-container">
                    <h1>Creating an Autonomous Aquaponic System</h1>
                    <p>
                        Aquaponics combines aquaculture and hydroponics, using
                        fish waste to nourish plants. This project aims to
                        create an easily reproducible, autonomous system with
                        sensors to monitor the environment.
                    </p>
                </div>
                <div class="second-container">
                    <div class="content">
                        <h1>Addressing Overcrowding and Hunger Sustainably</h1>
                        <p>
                            Human overcrowding strains resources like water and
                            food. Rapid agriculture degrades soils and
                            ecosystems. Currently, 768 million people are
                            undernourished. To combat hunger, we must develop
                            local, organic farming. Aquaponics, a soil-less
                            method, uses 80-85% less water and offers ecological
                            benefits, helping restore food autonomy and reduce
                            emissions through urban farming.
                        </p>
                    </div>
                    <img src="../../img/container-image.jpeg" alt="" />
                </div>
                <div class="third-container">
                    <div class="content">
                        <h1>Optimizing Fish Selection for Aquaponics</h1>
                        <p>
                            The desired yield of plant and fish cultures
                            determines the aquarium's size. Ideal fish have high
                            nutritional quality, fast growth, and low
                            environmental requirements. Domesticated fish like
                            tilapia are preferred. This project uses Japanese
                            goldfish and danios for their ease of care. An
                            oxygen pump and water filtration system are added.
                            Fish are fed with industrial food and a homemade
                            recipe. LEDs and an automatic feeder are used.
                        </p>
                    </div>
                    <img src="../../img/container-image.jpeg" alt="" />
                </div>
                <div class="quote-container">
                    <p>
                        "This project aims to create an autonomous aquaponic
                        system that uses sensors to monitor and control the
                        environment, showcasing various methods of soil-less
                        agriculture."
                    </p>
                </div>
                <div class="fourth-container">
                    <h1>
                        The Future of Sustainable Food Production with
                        Aquaponics
                    </h1>
                    <p>
                        Aquaponics is a sustainable method that conserves water,
                        eliminates chemical fertilizers, and offers diverse food
                        sources with a low carbon footprint. Future improvements
                        could include robots, tailored advice databases, and
                        virtual reality. This innovative approach helps fight
                        climate change.
                    </p>
                </div>
            </section>
            <footer>
                <div class="left"></div>
            </footer>
        </main>
    </body>
</html>
