@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.navbar {
  position: fixed;
  inset: 0 0 auto 0;
  height: 64px;
  padding: 0 18.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 98%);
}
.navbar_logo {
  height: 80%;
}
.navbar_logo-img {
  height: 100%;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}
.navbar a {
  font-size: 0.75rem;
  color: hsl(0, 0%, 2%);
}

.header {
  height: 100dvh;
  padding: 10rem 18.25rem 0 18.25rem;
  background: hsl(0, 0%, 2%);
}
.header * {
  color: hsl(0, 0%, 98%);
}
.header_text {
  max-width: 800px;
  color: hsl(0, 0%, 65%);
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

.banner-container {
  position: relative;
  color: white;
  margin-top: 64px;
  background: url("../img/background.jpeg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.banner-container .title {
  display: flex;
  padding: 0 400px 0 100px;
}
.banner-container .title img {
  border-radius: 100%;
  width: 196px;
  height: 196px;
}
.banner-container .description {
  padding: 0 400px 0 100px;
  font-size: 20px;
  font-weight: 700;
}
.banner-container .tag {
  padding: 0 400px 0 100px;
}
.banner-container .tag ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.banner-container .tag ul li {
  margin-right: 38px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #000;
  font-size: 10px;
  font-weight: 700;
}
.banner-container .creator {
  padding: 0 100px;
}
.banner-container .creator ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 36px 104px;
  padding: 0;
}
.banner-container .creator ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container .creator ul li img {
  width: 34px;
  height: 34px;
}
.banner-container .creator ul li h1 {
  margin-top: 16px;
  font-size: 10px;
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.main-container .first-container {
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}
.main-container .first-container h1 {
  padding: 0 100px;
  font-size: 30px;
  font-weight: 500;
}
.main-container .first-container p {
  padding: 0 100px;
}
.main-container .second-container {
  display: flex;
  margin-top: 64px;
}
.main-container .second-container .content {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.main-container .second-container .content h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
.main-container .second-container .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
.main-container .second-container img {
  padding: 0 100px 0 0;
  width: 500px;
}
.main-container .third-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 64px;
}
.main-container .third-container .content {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.main-container .third-container .content h1 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
.main-container .third-container .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
.main-container .third-container img {
  padding: 0 0 0 100px;
  width: 500px;
}
.main-container .quote-container {
  position: relative;
  background: url("../img/background-quote.png") no-repeat center center;
  background-size: cover;
  margin: 64px 100px 0 100px;
}
.main-container .quote-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main-container .quote-container p {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: white;
  padding: 100px;
  z-index: 2;
}
.main-container .fourth-container {
  margin-top: 64px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .fourth-container h1 {
  font-size: 30px;
  font-weight: 500;
}
.main-container .fourth-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

/*# sourceMappingURL=etiquettePage.css.map */
