@use 'variables';

.header {
    height: 100dvh;
    padding: 10rem 18.25rem 0 18.25rem;
    background: variables.$black;

    & * {
        color: variables.$white;
    }

    &_title {
        font-size: 3rem;
        font-weight: 800;
    }

    &_subtitle {
        font-size: 1.5rem;
    }

    &_text {
        color: variables.$grey;
    }
}