// sass FRONT/scss/main.scss:FRONT/css/style.css --watch --style=compressed

@use "variables";
@use "mixins";
@use "navbar";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
}

a, a:link, a:active, a:visited {
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 15rem;
    height: 15rem;
}

.titre {
    display: flex;
    justify-content: center;
}

.email,
.password,
.button {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border-color: variables.$primary;
}
