// sass FRONT/scss/main.scss:FRONT/css/style.css --watch --style=compressed

@use 'variables';
@use 'mixins';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 15rem;
    height: 15rem;
}

.titre {
    display: flex;
    justify-content: center;
}

.email, .password, .button {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border-color: variables.$primary;
}

